
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a (click)="toHome()" >Home</a></li>
          <li><a (click)="toCreate()">Sell product </a></li>
          <li><a href="#services">Services</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a (click)=tologin() class="get-started-btn scrollto">Login</a>

    </div>
  </header><!-- End Header -->
